@import url('../style/global.css');

@import url('./components/mobile/mobile-card.css');
@import url('./components/mobile/mobile-menu.css');
@import url('./components/mobile/mobile-player.css');

header {
  height: 120px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: var(---spacing-vertical-xs);
  margin-right: var(---spacing-vertical-xs);
}

main {
  margin-left: var(---spacing-vertical-xs);
  margin-right: var(---spacing-vertical-xs);
}

.icons {
  flex-direction: row;
}

.btn-icon {
  cursor: pointer;
  padding: 16px;
  display: inline;
  align-items: center;
  vertical-align: middle;
}

.btn-icon:hover {
  color: var(---color-neutral-light);
}

.mobile-footer {
  height: 220px;
}
