.mobile-card {
  align-items: center;
  align-content: center;
  cursor: pointer;
  margin-right: var(---spacing-inline-xs);
  text-align: center;
}

.mobile-card-curtidas {
  width: 7.75rem;
  height: 7.75rem;
  background: url(../../../assets/hearth.svg), var(---color-gradient-blue);
  background-repeat: no-repeat;
  background-position: center center;
}

.mobile-card img {
  width: 7.75rem;
  height: 7.75rem;
}

.mobile-cards:first-child {
  margin-left: 0;
}

.mobile-card {
  background-size: cover;
}

/* mobile2 */

.mobile-menu-btn-icon {
  cursor: pointer;
  padding: 16px;
  display: inline;
  align-items: center;
  vertical-align: middle;
}

.mobile-card-img {
  width: 7.75rem;
  height: 7.75rem;
  background-size: cover;
  background-image: url('../../../img/cover.jpg');
}
